.btn

  &--menu
    width 167px
    height 40px
    background $white
    border 2px solid $first-color
    display inline-block
    line-height 40px
    border-radius (25px)
    text-decoration none
    color $first-color
    font-weight 700
    font-size $font-size+4

  &--buy
    border-radius 3px
    background $first-color
    width 50px
    height 35px
    display inline-block
    &:hover
     background $second-color
  &--callback
    width 167px
    height 40px
    border 2px solid $white
    display inline-block
    line-height 40px
    border-radius (25px)
    text-decoration none
    color $white
    font-weight 500
    font-size $font-size+2