.cart
  width 141px
  height 41px
  border 2px solid $white
  border-radius (10px)
  display inline-block
  float right
  position relative
  top -58px
  color $white
  font-size $font-size+4
  font-weight 700
  font-family $font-family2
  text-align center