.footer

  &__menu
    display inline-block
    margin-top 35px
    margin-left 155px
  &__menu a
    text-decoration none
    font-size $font-size+4
    font-weight 700
    color $white
    margin-right 38px
    &:hover
      color $yellow

  &__hr
    width 868px
    border-top 1px solid #fff
    position relative
    top -70px
    float right
    left 41px


  &__phone
    font-size $font-size+18
    font-family $font-family2
    font-weight 500
    color $white
    display inline-block
    position relative
    tio -6px

  &__footer
    width 100%
    height 150px
    background $first-color
    overflow hidden

  &__copyright-sidebar
    height 22px
    width 100%
    background $second-color
    padding-top 13px

  &__copyright-text
    font-family $font-family2
    font-weight 400
    font-size $font-size
    text-transform uppercase
    color $white
    margin-top 13px
    margin-right 36px

  &__created-by
    display inline-block
    float right
    font-family $font-family2
    font-weight 400
    font-size $font-size
    color $white

  &__link
    font-family $font-family2
    font-weight 400
    font-size $font-size
    color $white

  &__icon-clock
    margin-right 10px

  &__time
    display inline-block
    font-family $font-family2
    font-weight 400
    color $white
    font-size $font-size+2
    position relative
    top -13px
    left 27px

  &__mail
    display inline-block
    font-family $font-family2
    font-weight 400
    color $white
    font-size $font-size+2
    position relative
    left -85px
    top 8px

  &__mail-text
    font-family $font-family2
    font-weight 400
    color $white
    font-size $font-size+2
    text-decoration none

  &__up, &__down
    position relative
    top -17px

  &__social
    float right
    position relative
    top -45px


  &__social-text
    width 115px
    display inline-block
    line-height 24px
    margin-right 12px
    font-family $font-family2
    font-weight 400
    color $white
    font-size $font-size+2
