.header
  width 100%

  &__header
    height 150px
    background $first-color

  &__slogan
    float left
    margin-top 25px
    width 155px
    font-family $font-family2
    font-size $font-size+2
    font-weight 400
    color $white
    margin-right 96px

  &__phone
    font-size $font-size+18
    font-family $font-family2
    font-weight 500
    color $white
    margin-top 25px
    display inline-block

  &__icon-clock
    margin-right 10px

  &__time
    display inline-block
    float right
    margin-top 34px
    font-family $font-family2
    font-weight 400
    color $white
    font-size $font-size+2

  &__callback
   margin-left 24px
   position relative
   top -8px

  &__hr
    width 868px
    border-top 1px solid #fff
    position relative
    top -70px
    float right
    left 41px

  &__menu
    display inline-block
    margin-top 35px
  &__menu a
    text-decoration none
    font-size $font-size+4
    font-weight 700
    color $white
    margin-right 38px
    &:hover
      color $yellow
  &__login
    text-decoration none
    font-size $font-size+4
    font-weight 700
    color $white
    margin-left 240px
  &__icon-cart
    width 31px !important
    height 29px !important
    position relative
    top 10px