.instagram
  margin-bottom 60px

  &__text
    border-radius 3px
    background $first-color
    display block
    height 40px
    text-align center
    color $second-color
    font-weight 500
    font-size $font-size+12
    line-height 40px
    margin-bottom 15px

  &__img
    float left
    margin-bottom 45px