background-size (n)
  background-size n
  -moz-background-size n
  -webkit-background-size n
  mso-background-source n

box-shadow (args)
  box-shadow args
  -moz-box-shadow args
  -webkit-box-shadow args