.product
  width 230px
  margin 0 10px
  float left
  &:first-child
    margin-left 0px
  &:last-child
    margin-right 0px

  &__img
    margin-bottom 25px

  &__title
    color $black
    font-family $font-family2
    font-size $font-size+2
    font-weight 700
    margin-bottom 20px
    text-align center
    margin-bottom 20px

  &__desc
    color $black
    font-family $font-family2
    font-size $font-size+1
    font-weight 400
    margin-bottom 20px
    text-align center

  &__btn-buy
    float right
    margin-right 15px

  &__hr
    width 115px
    border-bottom 2px solid #b2b2b2
    margin 0 auto
    &--up
      margin-bottom 18px
    &--down
      margin-bottom 20px
  &__cart
    position relative
    top 5px
    left 12px