$first-color = #30c4c9
$second-color = #007688
$h1-color = #3e3e3e
$white = #FFFFFF
$black = #000000
$yellow = #ffe401
$font-family = 'Ubuntu', sans-serif
$font-family2 = 'Helvetica', 'Arial', sans-serif
$font-size = 12px