.wrapper
  margin 0 auto
  background $white
  &--1060px
    width 1060px
  &--1000px
    width 1000px
  &--980px
    width 980px
  &--960px
    width 960px
  &--920px
    width 920px
  &--no-bg
    background none